:root {
    --mobile: 480px;
    --tablet: 800px;
    --desktop: 1400px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: black;
    margin: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul,
ol{
    margin: 0;
    padding: 0;
}
a {
    color: black;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

.second-title {
    margin-bottom: 20px;
    text-align: center;

    @media screen and (min-width: 800px) {
        font-size: 30px;
    }
    @media screen and (min-width: 1440px) {
        font-size: 40px;
    }
}

p {

    @media screen and (min-width: 800px) {
        font-size: 20px;
    }
    @media screen and (min-width: 1440px) {
        font-size: 30px;
    }
}


/* Header */

.section-header {
    padding: 10px;
    
    @media screen and (min-width: 800px) {
        padding: 20px 30px;
    }
    @media screen and (min-width: 1440px) {
        padding: 40px 50px;
    }
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 25px;
    font-size: 25px;

    @media screen and (min-width: 1440px) {
        font-size: 40px;
        height: 40px;
    }
}

.nav-list {
    display: flex;
    width: 200px;
    justify-content: space-between;

    @media screen and (min-width: 800px) {
        width: 300px;
    }
    @media screen and (min-width: 1440px) {
        width: 400px;
        font-size: 20px;
    }
}

/* Main Section  */

.main-section {
    padding: 50px 30px;
    text-align: center;
    background-image: url(./images/main-section-img.jpg);
    background-size: cover;
    box-shadow: 0px 0px 67px 0px rgba(0,0,0,0.53) inset;
    -webkit-box-shadow: 0px 0px 67px 0px rgba(0,0,0,0.53) inset;
    -moz-box-shadow: 0px 0px 67px 0px rgba(0,0,0,0.53) inset;

    @media screen and (min-width: 800px) {
        padding: 100px 80px;
    }
    @media screen and (min-width: 1440px) {
        padding: 200px 150px;
    }
}

.main-title {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);

    @media screen and (min-width: 800px) {
        font-size: 30px;
    }
    @media screen and (min-width: 1440px) {
        font-size: 40px;
    }
}

.main-button {
    margin-top: 30px;
    padding: 10px;
    border-radius: 12px;
    border: none;
    cursor: pointer;

    @media screen and (min-width: 800px) {
        padding: 20px;
        font-size: 20px;
    }
    @media screen and (min-width: 1440px) {
        padding: 30px;
        font-size: 30px;
    }
}

/* Introduction */

.introduct-section {
    padding: 40px 40px;
    text-align: center;

}

/* Advantages */

.advantages-section {
    padding: 40px 50px;
    box-sizing: content-box;
    height: 550px;

    @media screen and (min-width: 800px) {
        height: 520px;
    }
    @media screen and (min-width: 1440px) {
        height: 300px;
    }
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
    margin: -20px;

    @media screen and (min-width: 1440px) {
        flex-wrap: nowrap;
    }
}

.advantage-item {
    text-align: center;
    border: 2px black solid;
    border-radius: 12px;
    margin: 20px;
    padding: 10px;
    width: calc( ( 100% - 4 * 20px ) / 3 );

    @media screen and (min-width: 1440px) {
        width: 200px;
        height: 200px;
    }
}

.advantage-item:last-of-type {
    margin-bottom: 0;
}

.advantage-svg {
    width: 50px;
    height: 50px;
}

/* Waiting Section */

.waiting-section {
    padding: 30px 20px;

    @media screen and (min-width: 800px) {
        font-size: 20px;
        padding: 40px 120px;
    }

    @media screen and (min-width: 1440px) {
        font-size: 30px;
        padding: 40px 150px;
    }
}

.waiting-item:not(:last-of-type) {
    margin-bottom: 15px;
}

/* Possibilities Section */

.possibilities-section {
    padding: 0px 20px;
}

.possibilities-lists-container {
    display: flex;
    width: 100%;
}

.it-list,
.subjects-list {
    width: calc( 100% / 2 );
    text-align: center;

    @media screen and (min-width: 800px) {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    @media screen and (min-width: 1440px) {
        margin-top: 30px;
    }
}

.it-list > h3,
.subjects-list > h3 {
    @media screen and (min-width: 800px) {
        position: absolute;
        height: 20px;
        left: 90px;
        top: -20px;
    }

    @media screen and (min-width: 1440px) {
        font-size: 30px;
        left: 185px;
    }
}

.subject-item,
.it-item {
    width: 100%;
    margin-top: 20px;

    @media screen and (min-width: 800px) {
        width: 140px;
        padding: 10px;
        border: 2px black solid;
        border-radius: 12px;
        margin: 20;
    }
}

.subject-text,
.it-text {
    font-size: 14px;

    @media screen and (min-width: 800px) {
        margin-top: 10px;
    }
    @media screen and (min-width: 1440px) {
        font-size: 20px;
    }
}

.it-svg,
.subject-svg {
    width: 40px;
    height: 40px;
}

.possibilities-text {
    margin-top: 20px;

    @media screen and (min-width: 800px) {
        margin-right: 40px;
        margin-left: 40px;
        text-align: center;
    }
}

/* Teachers */

.teachers-section {
    padding: 40px 50px;
}

.teachers-list {
    @media screen and (min-width: 800px) {
        display: flex;
        flex-wrap: wrap;
        margin: -30px;
        justify-content: space-evenly;
        margin-top: 30px;
    }

    @media screen and (min-width: 1440px) {
        flex-wrap: nowrap;
        margin: 0;
        justify-content: space-evenly;
        margin-top: 30px;
    }
}

.teacher-item {
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
    text-align: center;
    padding-bottom: 20px;
    text-align: center;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 6px;

    @media screen and (min-width: 800px) {
        width: calc( ( 100% - 30px * 4 ) / 2);
        margin: 10px;
        font-size: 20px;
    }

    @media screen and (min-width: 1440px) {
        width: 260px;
        height: 430px;
        margin: 0;
    }
}

.teacher-item:not(:last-of-type) {
    margin-bottom: 30px;
}

.teacher-picture {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    max-height: 460px;
    width: 100%;

    @media screen and (min-width: 1440px) {
        height: 260px;
        width: 100%;
    }
}

.teacher-name {
    @media screen and (min-width: 1440px) {
        font-size: 20px;
    }
}

.teachers-description {
    margin: 0px 30px;

    @media screen and (min-width: 1440px) {
        font-size: 15px;
    }
}

.teacher-contacts {
    display: flex;
    justify-content: space-around;

    @media screen and (min-width: 1440px) {
        justify-content: space-evenly;
    }
}

.teacher-contact {
    height: 50px;
    width: 50px;

    @media screen and (min-width: 1440px) {
        width: 30px;
        height: 30px;
    }
}

.contact-link {
    display: inline-flex;
    height: 100%;
    width: 100%;
}

.contact-svg {
    fill: gray;
}

/* Selection Section */

.selection-section {
    padding: 40px 30px;
    text-align: center;
    align-content: center;
}

.selection-conts {
    @media screen and (min-width: 1440px) {
        display: flex;
    }
}

.selection-vars-container,
.selection-list {
    @media screen and (min-width: 1440px) {
        width: calc( 100% / 3 );
    }
}

.selection-vars-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: 1440px) {
        margin: 0;
        /* flex-direction: column; */
        align-items: center;
        justify-content: space-between;
    }
}

.selection-text-span {
    width: 400px;
    margin-top: 20px;
    font-size: 20px;
    color: red;
    margin-right: auto;
    margin-left: auto;
    @media screen and (min-width: 1440px) {
        margin-left: 0;
    }
}

.selection-var {
    width: calc( ( 100% - 30px ) / 2 );
    text-align: center;

    
}

.selection-var__svg {
    width: 50px;
    height: 50px;
}

.selection-var__text {
    @media screen and (min-width: 1440px) {
        font-size: 20px;
    }
}

.selection-or {
    color: red;
    font-size: 30px;
    height: 30px;

    @media screen and (min-width: 1440px) {
        width: 70px;
    }
}

.selection-list {
    text-align: left;
    padding-left: 20px;

    @media screen and (min-width: 1440px) {
        border-left: 2px black solid;
        padding-left: 40px;
        font-size: 20px;
    }
}

.selection-title {
    text-align: center;
    margin-bottom: 10px;

    @media screen and (min-width: 1440px) {
        margin-top: 0;
    }
}

.selection-item:not(:last-of-type) {
    margin-bottom: 5px;
}

/* Reviews Section */

.reviews-section {
    padding: 40px 50px;
}

.reviews-list {
    @media screen and (min-width: 800px) {
        display: flex;
        flex-wrap: wrap;
        margin: -30px;
        justify-content: space-evenly;
        margin-top: 30px;
    }
    /* @media screen and (min-width: 1440px) {
        
    } */
}



.review-item {
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
    text-align: center;
    padding-bottom: 20px;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 6px;

    @media screen and (min-width: 800px) {
        width: calc( ( 100% - 30px * 4 ) / 2);
        margin: 10px;
        font-size: 20px;
    }

    @media screen and (min-width: 1440px) {
        width: calc( ( 100% - 30px * 4 ) / 3);

    }
}

.review-item:nth-of-type(4),
.review-item:nth-of-type(5),
.review-item:nth-of-type(6) {
    display: none;
    

    
}

.review-item:nth-of-type(4) {
    @media screen and (min-width: 800px) {
        display: block;
        /* box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75); */
        /* text-align: center; */
        /* padding-bottom: 20px; */
        /* height: 900px; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* border-radius: 6px; */
        /* width: calc( ( 100% - 30px * 4 ) / 2); */
        /* margin: 10px; */
        /* font-size: 20px; */
    }
}

.review-item:nth-of-type(5),
.review-item:nth-of-type(6) {
    @media screen and (min-width: 1440px) {
        display: block;
        /* box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
        text-align: center;
        padding-bottom: 20px;
        height: 900px; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* border-radius: 6px; */
    }
}

.review-image {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    max-height: 415px;
    width: 100%;
}

.review-item:not(:last-of-type) {
    margin-bottom: 30px;
}

.review-name,
.review-age,
.review-place {
    font-size: 32px;
    margin-top: 10px;

    @media screen and (min-width: 800px) {
        font-size: 20px;
    }
}

.review-age::before,
.review-place::before {
    content: '';
    display: inline-flex;
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.review-age::before {
    background-image: url(./images/age.svg);
}

.review-place::before {
    background-image: url(./images/place.svg);
}

.review-cont {
    /* margin-top: 20px; */
    margin: 20px 20px 0 20px;
    font-size: 20px;


    @media screen and (min-width: 800px) {
        margin: 0 30px;
    }
    
}

.review {
    @media screen and (min-width: 1440px) {
        font-size: 20px;
    }
}

/* Footer */

.section-footer {
    padding: 10px;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);

    @media screen and (min-width: 800px) {
        padding: 30px;
    }
    @media screen and (min-width: 1440px) {
        /* align-items: center; */
    }
}

.container-footer {
    display: flex;
    justify-content: space-around;
}

.contacts-title {
    font-size: 25px;

    @media screen and (min-width: 800px) {
        position: absolute;
        top: -25px;
    }

}

.contacts-list {

    @media screen and (min-width: 800px) {
        margin-top: 20px;
        width: 440px;
        justify-content: space-around;
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }
    
}

.contact-item {
    display: flex;
    margin-top: 10px;
}

.contact-logo {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}